.card {
    margin: 1rem  0  8rem 18rem; 
    padding: 2rem;
}

button {
    margin-left: 1rem;
}

@media only screen and (max-width: 48rem) {
    .card {
        margin: 1rem 0 8rem 2rem;
        padding: 2rem;
    }

    button {
        margin-left: 1rem;
    }
}
